fastapi==0.109.0
uvicorn==0.27.0.post1
google-cloud-aiplatform==1.38.1
google-api-python-client==2.115.0
google-cloud-texttospeech==2.15.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
ffmpeg-python==0.2.0
apscheduler==3.10.4
pydantic==2.5.3